.image_first_background {
  background-image: url('./../images/music.jpg'), url('./../images/mixer.jpg');
}

.foot {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: unset;
  margin-top: 5rem;
}

iframe{
  overflow: hidden;
}
